/*--------------------------------------------------------------
# Base Typography
--------------------------------------------------------------*/
body
  font-family: $font-default
  color: $text-color
body,
input,
select,
textarea
  font-family: $font-default
h1,
h2,
h3,
h4,
h5,
h6
  font-family: $heading-font
  color: $heading-color
  &.title-course
    // text-transform: uppercase;
    font-size: 1.075rem
    line-height: 1.2
    font-weight: $fw-bold
    color: $dark-primary
.price-text
  small
    font-size: 0.875rem
    color: $text-color
    + span
      color: $dark-primary
      display: block
      font-size: 1.475rem
      font-weight: $fw-bold
      margin-top: 0.2rem
      @media (min-width: 992px) and (max-width: 1200px)
        font-size: 1.275rem
      small
        font-size: 0.755rem
        font-weight: $fw-light
        color: $dark-primary
.price-discont
  background-color: $white
  color: $primary
  font-weight: $fw-bold
  font-size: 0.775rem
  padding: 0.2rem
  border-radius: 0.2rem
  display: flex
  flex-direction: row
  align-items: center
  gap: 0.175rem