/*--------------------------------------------------------------
# Components List Courses Destaque
--------------------------------------------------------------*/

  @media only screen and (max-width: 1300px)
    padding-top: 90px;
    padding-bottom: 90px;
  div[class*="col"]
    margin-top: 15px
    margin-bottom: 15px
  header
    padding: 1.2rem 0
  .desktop-content
    @media (max-width: 992px)
      display: none
  .mobile-content
    padding: 0 20px
    @media (min-width: 992px)
      display: none