/*--------------------------------------------------------------
# Components Card
--------------------------------------------------------------*/
.card
  &.card-course
    background-color: $light-gray
    border: none
    height: 100%
    padding: 1.2rem
    justify-content: space-between
    border-radius: 0.4rem
    position: relative
    overflow: hidden
    cursor: pointer
    .card-header,
    .card-body
      background-color: transparent
      border: none
      padding: 0
    .card-header
      padding-bottom: 1.2rem
    .card-body
      padding-top: 1.2rem
      border-top: solid 1px $border-color
      display: flex
      align-items: flex-start
      justify-content: space-between
      flex-direction: row
      flex: initial
      .price-discont
        margin-top: 0.2rem
        display: none
    .card-footer
      border: none
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      display: flex
      align-items: center
      justify-content: center
      padding-left: 2.5rem
      padding-right: 2.5rem
      z-index: -1
      transition: 0.25s ease background
      background-color: transparent
      border-radius: 0.4rem