/*--------------------------------------------------------------
# Components List Courses Destaque
--------------------------------------------------------------*/
.sec-fast {
  div[class*="col"] {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  header {
    padding: 1.2rem 0;
    .title-default {
      font-size: 1.175rem;
      line-height: 1.2;
      font-weight: $fw-normal;
      color: $dark-primary;
      margin-bottom: 1.575rem;
      strong {
        display: block;
        font-weight: $fw-xbold;
        font-size: 1.675rem;
        text-transform: uppercase;
      }
      &:before {
        margin-bottom: 1.2rem;
      }

      + p {
        margin-bottom: 0;
        font-size: 1.055rem;
        color: $text-color;
        line-height: 1.2;
      }
    }
  }
  .desktop-content {
    @media (max-width: 992px) {
      display: none;
    }
  }

  .mobile-content {
    @media (min-width: 992px) {
      display: none;
    }
    .card-course {
      .card-footer {
        position: initial;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        padding: 1.2rem 0 0;
        z-index: initial;
      }
    }
  }
}

// @media (max-width: 1200px) {
// }
// @media (max-width: 992px) {
// }
// @media (max-width: 768px) {
// }

// @media (max-width: 576px) {
// }
