<!-- ======= Infinity card ======= -->
<div class="infinity-card">
    <div class="container cont-carousel">
        <div class="owl-carousel infinity-carousel">

            <!-- ###### ITEM ###### -->
            <div class="item d-flex align-items-stretch">
                {% include "parts/components/parts/card-product.html" %}
            </div><!-- /col -->

            <!-- ###### ITEM ###### -->
            <div class="item d-flex align-items-stretch">
                {% include "parts/components/parts/card-product.html" %}
            </div><!-- /col -->

            <!-- ###### ITEM ###### -->
            <div class="item d-flex align-items-stretch">
                {% include "parts/components/parts/card-product.html" %}
            </div><!-- /col -->

            <!-- ###### ITEM ###### -->
            <div class="item d-flex align-items-stretch">
                {% include "parts/components/parts/card-product.html" %}
            </div><!-- /col -->

            <!-- ###### ITEM ###### -->
            <div class="item d-flex align-items-stretch">
                {% include "parts/components/parts/card-product.html" %}
            </div><!-- /col -->

            <!-- ###### ITEM ###### -->
            <div class="item d-flex align-items-stretch">
                {% include "parts/components/parts/card-product.html" %}
            </div><!-- /col -->

            <!-- ###### ITEM ###### -->
            <div class="item d-flex align-items-stretch">
                {% include "parts/components/parts/card-product.html" %}
            </div><!-- /col -->

            <!-- ###### ITEM ###### -->
            <div class="item d-flex align-items-stretch">
                {% include "parts/components/parts/card-product.html" %}
            </div><!-- /col -->

            <!-- ###### ITEM ###### -->
            <div class="item d-flex align-items-stretch">
                {% include "parts/components/parts/card-product.html" %}
            </div><!-- /col -->

            <!-- ###### ITEM ###### -->
            <div class="item d-flex align-items-stretch">
                {% include "parts/components/parts/card-product.html" %}
            </div><!-- /col -->



        </div><!-- /infinity-card__carousel -->
    </div><!-- /cont-carousel -->
</div><!-- /infinity-card -->