{% extends "template.html" %}

{% set page ='home' %}

{% block meta %}
<title>lorem_title</title>
{% endblock %}

{% block content %}

<section class="section home-top sec-fast">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 col-xl-3">
                <h2 class="title-default title-default--gray">
                    Processo seletivo rápido.
                    <strong>
                        Vagas abertas!
                    </strong>
                </h2>
                <p>
                    Clique no curso de seu interesse e inscreva-se.
                </p>
            </div><!-- /col -->

            <div class="col-12 col-md-3 col-xl-3">
                <div class="card card-course">
                    <div class="card-header">
                        <h3 class="title-course">
                            Lorem ipsum nessum dollor ammet dignum trute
                        </h3>
                    </div><!-- /card-header -->
                    <div class="card-footer">
                        <p class="price-text">
                            <span>
                                A partir de
                            </span>
                            <span>
                                R$ 1.547,20 <small>/mês</small>
                            </span>
                        </p>
                    </div><!-- /card-footer -->
                </div><!-- /card-course -->
            </div><!-- /col -->

            <div class="col-12 col-md-3 col-xl-3">
                <div class="card card-course">
                    <div class="card-header">
                        <h3 class="title-course">
                            Lorem ipsum
                        </h3>
                    </div><!-- /card-header -->
                    <div class="card-footer">
                        <p class="price-text">
                            <span>
                                A partir de
                            </span>
                            <span>
                                R$ 1.547,20 <small>/mês</small>
                            </span>
                        </p>
                    </div><!-- /card-footer -->
                </div><!-- /card-course -->
            </div><!-- /col -->

            <div class="col-12 col-md-3 col-xl-3">
                <div class="card card-course">
                    <div class="card-header">
                        <h3 class="title-course">
                            Lorem ipsum nessum dollor
                        </h3>
                    </div><!-- /card-header -->
                    <div class="card-footer">
                        <p class="price-text">
                            <span>
                                A partir de
                            </span>
                            <span>
                                R$ 1.547,20 <small>/mês</small>
                            </span>
                        </p>
                    </div><!-- /card-footer -->
                </div><!-- /card-course -->
            </div><!-- /col -->

            <div class="col-12 col-md-3 col-xl-3">
                <div class="card card-course">
                    <div class="card-header">
                        <h3 class="title-course">
                            Lorem ipsum nessum dollor ammet dignum trute
                        </h3>
                    </div><!-- /card-header -->
                    <div class="card-footer">
                        <p class="price-text">
                            <span>
                                A partir de
                            </span>
                            <span>
                                R$ 1.547,20 <small>/mês</small>
                            </span>
                        </p>
                    </div><!-- /card-footer -->
                </div><!-- /card-course -->
            </div><!-- /col -->

            <div class="col-12 col-md-3 col-xl-3">
                <div class="card card-course">
                    <div class="card-header">
                        <h3 class="title-course">
                            Lorem ipsum nessum dollor ammet dignum trute
                        </h3>
                    </div><!-- /card-header -->
                    <div class="card-footer">
                        <p class="price-text">
                            <span>
                                A partir de
                            </span>
                            <span>
                                R$ 1.547,20 <small>/mês</small>
                            </span>
                        </p>
                    </div><!-- /card-footer -->
                </div><!-- /card-course -->
            </div><!-- /col -->

            <div class="col-12 col-md-3 col-xl-3">
                <div class="card card-course">
                    <div class="card-header">
                        <h3 class="title-course">
                            Lorem ipsum nessum dollor ammet dignum trute
                        </h3>
                    </div><!-- /card-header -->
                    <div class="card-footer">
                        <p class="price-text">
                            <span>
                                A partir de
                            </span>
                            <span>
                                R$ 1.547,20 <small>/mês</small>
                            </span>
                        </p>
                    </div><!-- /card-footer -->
                </div><!-- /card-course -->
            </div><!-- /col -->

            <div class="col-12 col-md-3 col-xl-3">
                <div class="card card-course">
                    <div class="card-header">
                        <h3 class="title-course">
                            Lorem ipsum nessum dollor ammet dignum trute
                        </h3>
                    </div><!-- /card-header -->
                    <div class="card-footer">
                        <p class="price-text">
                            <span>
                                A partir de
                            </span>
                            <span>
                                R$ 1.547,20 <small>/mês</small>
                            </span>
                        </p>
                    </div><!-- /card-footer -->
                </div><!-- /card-course -->
            </div><!-- /col -->
        </div><!-- /row -->

        <img src="assets/img/temp.png" alt="">

    </div><!-- /container -->
</section><!-- End  home-top -->

{% endblock %}