{% extends "template.html" %}

{% set page ='AGES' %}

{% block meta %}
<title>lorem_title</title>
{% endblock %}

{% block content %}

<section class="section home-top sec-fast">
    <div class="container desktop-content">
        <div class="row">
            <div class="col-12 col-md-3 col-xl-3">
                <header>
                    <h2 class="title-default">
                        Processo seletivo presencial.
                        <strong>
                            Vagas abertas!
                        </strong>
                    </h2>
                    <p>
                        Clique no curso de seu interesse ao lado e inscreva-se.
                    </p>
                </header>
            </div><!-- /col -->

            <div class="col-12 col-md-3 col-xl-3">
                <!-- ======= Course card ======= -->
                <div class="card card-course">
                    <div class="card-header">
                        <h3 class="title-course">
                            Psicologia
                        </h3>
                    </div><!-- /card-header -->
                    <div class="card-body">
                        <p class="price-text">
                            <small>
                                A partir de
                            </small>
                            <span>
                                R$ 949,00<small>/mês</small>
                            </span>
                        </p>
                    </div><!-- /card-body -->
                    <div class="card-footer">
                        <a href="#" title="Inscreva-se" class="btn btn-block btn-white">Inscreva-se</a>
                    </div>
                </div><!-- /card-course -->
            </div><!-- /col -->

            <div class="col-12 col-md-3 col-xl-3">
                <!-- ======= Course card ======= -->
                <div class="card card-course">
                    <div class="card-header">
                        <h3 class="title-course">
                            Direito
                        </h3>
                    </div><!-- /card-header -->
                    <div class="card-body">
                        <p class="price-text">
                            <small>
                                A partir de
                            </small>
                            <span>
                                R$ 949,00<small>/mês</small>
                            </span>
                        </p>
                    </div><!-- /card-body -->
                    <div class="card-footer">
                        <a href="#" title="Inscreva-se" class="btn btn-block btn-white">Inscreva-se</a>
                    </div>
                </div><!-- /card-course -->
            </div><!-- /col -->

            <div class="col-12 col-md-3 col-xl-3">
                <!-- ======= Course card ======= -->
                <div class="card card-course">
                    <div class="card-header">
                        <h3 class="title-course">
                            Enfermagem
                        </h3>
                    </div><!-- /card-header -->
                    <div class="card-body">
                        <p class="price-text">
                            <small>
                                A partir de
                            </small>
                            <span>
                                R$ 909,00<small>/mês</small>
                            </span>
                        </p>
                    </div><!-- /card-body -->
                    <div class="card-footer">
                        <a href="#" title="Inscreva-se" class="btn btn-block btn-white">Inscreva-se</a>
                    </div>
                </div><!-- /card-course -->
            </div><!-- /col -->

            <div class="col-12 col-md-3 col-xl-3">
                <!-- ======= Course card ======= -->
                <div class="card card-course">
                    <div class="card-header">
                        <h3 class="title-course">
                            Odontologia
                        </h3>
                    </div><!-- /card-header -->
                    <div class="card-body">
                        <p class="price-text">
                            <small>
                                A partir de
                            </small>
                            <span>
                                R$ 1.999,00<small>/mês</small>
                            </span>
                        </p>
                    </div><!-- /card-body -->
                    <div class="card-footer">
                        <a href="#" title="Inscreva-se" class="btn btn-block btn-white">Inscreva-se</a>
                    </div>
                </div><!-- /card-course -->
            </div><!-- /col -->

            <div class="col-12 col-md-3 col-xl-3">
                <!-- ======= Course card ======= -->
                <div class="card card-course">
                    <div class="card-header">
                        <h3 class="title-course">
                            Biomedicina
                        </h3>
                    </div><!-- /card-header -->
                    <div class="card-body">
                        <p class="price-text">
                            <small>
                                A partir de
                            </small>
                            <span>
                                R$ 949,00<small>/mês</small>
                            </span>
                        </p>
                    </div><!-- /card-body -->
                    <div class="card-footer">
                        <a href="#" title="Inscreva-se" class="btn btn-block btn-white">Inscreva-se</a>
                    </div>
                </div><!-- /card-course -->
            </div><!-- /col -->

            <div class="col-12 col-md-3 col-xl-3">
                <!-- ======= Course card ======= -->
                <div class="card card-course">
                    <div class="card-header">
                        <h3 class="title-course">
                            Fisioterapia
                        </h3>
                    </div><!-- /card-header -->
                    <div class="card-body">
                        <p class="price-text">
                            <small>
                                A partir de
                            </small>
                            <span>
                                R$ 949,00<small>/mês</small>
                            </span>
                        </p>
                    </div><!-- /card-body -->
                    <div class="card-footer">
                        <a href="#" title="Inscreva-se" class="btn btn-block btn-white">Inscreva-se</a>
                    </div>
                </div><!-- /card-course -->
            </div><!-- /col -->

            <div class="col-12 col-md-3 col-xl-3">
                <!-- ======= Course card ======= -->
                <div class="card card-course">
                    <div class="card-header">
                        <h3 class="title-course">
                            Nutrição
                        </h3>
                    </div><!-- /card-header -->
                    <div class="card-body">
                        <p class="price-text">
                            <small>
                                A partir de
                            </small>
                            <span>
                                R$ 909,00<small>/mês</small>
                            </span>
                        </p>
                    </div><!-- /card-body -->
                    <div class="card-footer">
                        <a href="#" title="Inscreva-se" class="btn btn-block btn-white">Inscreva-se</a>
                    </div>
                </div><!-- /card-course -->
            </div><!-- /col -->
        </div><!-- /row -->
    </div><!-- /container -->

    <div class="mobile-content">
        <header>
            <h2 class="title-default">
                Processo seletivo presencial.
                <strong>
                    Vagas abertas!
                </strong>
            </h2>
            <p>
                Clique no curso de seu interesse abaixo e inscreva-se.
            </p>
        </header>

        <!-- ======= Infinity card ======= -->
        <div class="infinity-card">
            <div class="container cont-carousel">
                <div class="owl-carousel course-home-carousel">

                    <!-- ###### ITEM ###### -->
                    <div class="item d-flex align-items-stretch">
                        <!-- ======= Course card ======= -->
                        <div class="card card-course">
                            <div class="card-header">
                                <h3 class="title-course">
                                    Psicologia
                                </h3>
                            </div><!-- /card-header -->
                            <div class="card-body">
                                <p class="price-text">
                                    <small>
                                        A partir de
                                    </small>
                                    <span>
                                        R$ 949,00<small>/mês</small>
                                    </span>
                                </p>
                            </div><!-- /card-body -->
                            <div class="card-footer">
                                <a href="#" title="Inscreva-se" class="btn btn-block btn-white">Inscreva-se</a>
                            </div>
                        </div><!-- /card-course -->
                    </div><!-- /col -->

                    <!-- ###### ITEM ###### -->
                    <div class="item d-flex align-items-stretch">
                        <!-- ======= Course card ======= -->
                        <div class="card card-course">
                            <div class="card-header">
                                <h3 class="title-course">
                                    Direito
                                </h3>
                            </div><!-- /card-header -->
                            <div class="card-body">
                                <p class="price-text">
                                    <small>
                                        A partir de
                                    </small>
                                    <span>
                                        R$ 949,00<small>/mês</small>
                                    </span>
                                </p>
                            </div><!-- /card-body -->
                            <div class="card-footer">
                                <a href="#" title="Inscreva-se" class="btn btn-block btn-white">Inscreva-se</a>
                            </div>
                        </div><!-- /card-course -->
                    </div><!-- /col -->

                    <!-- ###### ITEM ###### -->
                    <div class="item d-flex align-items-stretch">
                        <!-- ======= Course card ======= -->
                        <div class="card card-course">
                            <div class="card-header">
                                <h3 class="title-course">
                                    Enfermagem
                                </h3>
                            </div><!-- /card-header -->
                            <div class="card-body">
                                <p class="price-text">
                                    <small>
                                        A partir de
                                    </small>
                                    <span>
                                        R$ 909,00<small>/mês</small>
                                    </span>
                                </p>
                            </div><!-- /card-body -->
                            <div class="card-footer">
                                <a href="#" title="Inscreva-se" class="btn btn-block btn-white">Inscreva-se</a>
                            </div>
                        </div><!-- /card-course -->
                    </div><!-- /col -->

                    <!-- ###### ITEM ###### -->
                    <div class="item d-flex align-items-stretch">
                        <!-- ======= Course card ======= -->
                        <div class="card card-course">
                            <div class="card-header">
                                <h3 class="title-course">
                                    Odontologia
                                </h3>
                            </div><!-- /card-header -->
                            <div class="card-body">
                                <p class="price-text">
                                    <small>
                                        A partir de
                                    </small>
                                    <span>
                                        R$ 1.999,00<small>/mês</small>
                                    </span>
                                </p>
                            </div><!-- /card-body -->
                            <div class="card-footer">
                                <a href="#" title="Inscreva-se" class="btn btn-block btn-white">Inscreva-se</a>
                            </div>
                        </div><!-- /card-course -->
                    </div><!-- /col -->

                    <!-- ###### ITEM ###### -->
                    <div class="item d-flex align-items-stretch">
                        <!-- ======= Course card ======= -->
                        <div class="card card-course">
                            <div class="card-header">
                                <h3 class="title-course">
                                    Biomedicina
                                </h3>
                            </div><!-- /card-header -->
                            <div class="card-body">
                                <p class="price-text">
                                    <small>
                                        A partir de
                                    </small>
                                    <span>
                                        R$ 949,00<small>/mês</small>
                                    </span>
                                </p>
                            </div><!-- /card-body -->
                            <div class="card-footer">
                                <a href="#" title="Inscreva-se" class="btn btn-block btn-white">Inscreva-se</a>
                            </div>
                        </div><!-- /card-course -->
                    </div><!-- /col -->

                    <!-- ###### ITEM ###### -->
                    <div class="item d-flex align-items-stretch">
                        <!-- ======= Course card ======= -->
                        <div class="card card-course">
                            <div class="card-header">
                                <h3 class="title-course">
                                    Fisioterapia
                                </h3>
                            </div><!-- /card-header -->
                            <div class="card-body">
                                <p class="price-text">
                                    <small>
                                        A partir de
                                    </small>
                                    <span>
                                        R$ 949,00<small>/mês</small>
                                    </span>
                                </p>
                            </div><!-- /card-body -->
                            <div class="card-footer">
                                <a href="#" title="Inscreva-se" class="btn btn-block btn-white">Inscreva-se</a>
                            </div>
                        </div><!-- /card-course -->
                    </div><!-- /col -->

                    <!-- ###### ITEM ###### -->
                    <div class="item d-flex align-items-stretch">
                        <!-- ======= Course card ======= -->
                        <div class="card card-course">
                            <div class="card-header">
                                <h3 class="title-course">
                                    Nutrição
                                </h3>
                            </div><!-- /card-header -->
                            <div class="card-body">
                                <p class="price-text">
                                    <small>
                                        A partir de
                                    </small>
                                    <span>
                                        R$ 909,00<small>/mês</small>
                                    </span>
                                </p>
                            </div><!-- /card-body -->
                            <div class="card-footer">
                                <a href="#" title="Inscreva-se" class="btn btn-block btn-white">Inscreva-se</a>
                            </div>
                        </div><!-- /card-course -->
                    </div><!-- /col -->

                </div><!-- /infinity-card__carousel -->
            </div><!-- /cont-carousel -->
        </div><!-- /infinity-card -->
    </div><!-- /mobile-content -->
</section><!-- End  home-top -->

{% endblock %}