{% extends "template.html" %}

{% set page ='home' %}

{% block meta %}
<title>lorem_title</title>
{% endblock %}

{% block content %}

<section class="">
    <div class="container">
        <ul>
            <li><a href="index-ages.html" target="_blank" title="Ages">Ages</a></li>
            <li><a href="index-fadergs.html" target="_blank" title="FADERGS">FADERGS</a></li>
            <li><a href="index-faseh.html" target="_blank" title="FASEH">FASEH</a></li>
            <li><a href="index-fpb.html" target="_blank" title="FPB">FPB</a></li>
            <li><a href="index-ibmr.html" target="_blank" title="IBMR">IBMR</a></li>
            <li><a href="index-uam.html" target="_blank" title="UAM">UAM</a></li>
            <li><a href="index-una.html" target="_blank" title="UNA">UNA</a></li>
            <li><a href="index-unibh.html" target="_blank" title="UNIBH">UNIBH</a></li>
            <li><a href="index-unicuritiba.html" target="_blank" title="UNICURITIBA">UNICURITIBA</a></li>
            <li><a href="index-unifacs.html" target="_blank" title="UNIFACS">UNIFACS</a></li>
            <li><a href="index-unifg-ba.html" target="_blank" title="UNIFG BA">UNIFG BA</a></li>
            <li><a href="index-unifg-pe.html" target="_blank" title="UNIFG PE">UNIFG PE</a></li>
            <li><a href="index-uniritter.html" target="_blank" title="UNIRITTER">UNIRITTER</a></li>
            <li><a href="index-unisociesc.html" target="_blank" title="UNISOCIESC">UNISOCIESC</a></li>
            <li><a href="index-unisul.html" target="_blank" title="UNISUL">UNISUL</a></li>
            <li><a href="index-unp.html" target="_blank" title="UNP">UNP</a></li>
            <li><a href="index-usjt.html" target="_blank" title="USJT">USJT</a></li>
        </ul>
    </div><!-- /container -->
</section><!-- End  home-top -->

{% endblock %}