<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% block meta %}{% endblock %}

    <!-- ==============================================
    SEO CONFIG
    =============================================== -->
    <meta name="author" content="Limão Acidez Tecnológica" />
    <meta name="publisher" content="Thiago Limão" />
    <meta name="reply-to" content="lorem_name_project" />
    <meta name="copyright" content="All rights reserved" />
    <meta name="keywords" content="lorem_keywords">
    <meta name="description" content="lorem_description">

    <!-- ==============================================
    PROPRIEDADE CONFIG
    =============================================== -->
    <meta itemprop="image" content="url_project/assets/img/social/logo_profile.png">
    <meta itemprop="name" content="lorem_name_project">
    <meta itemprop="keywords" content="lorem_keywords">
    <meta itemprop="description" content="lorem_description">

    <!-- ==============================================
    FACEBOOK CONFIG
    =============================================== -->
    <meta property="og:article:author" content="Limão Acidez Tecnológica">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="lorem_name_project">
    <meta property="og:title" content="lorem_title">
    <meta property="og:url" content="url_project">

    <meta property="og:image" content="url_project/assets/img/social/share.jpg" />
    <meta property="og:image:width" content="1905">
    <meta property="og:image:height" content="1000" />
    <meta property="og:image:type" content="image/jpeg">

    <meta property="og:image" content="url_project/assets/img/social/share_mobile.png" itemprop="image" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />
    <meta property="og:image:type" content="image/png">

    <meta property="og:article:tags" content="lorem_keywords">
    <meta property="og:description" content="lorem_description">

    <meta property="og:updated_time" content="1440432930" />


    <!-- ==============================================
    TWITTER CONFIG
    =============================================== -->
    <meta name="twitter:card" content="summary_large_image" data-react-helmet="true">
    <meta name="twitter:image" content="url_project/assets/img/social/og-image.jpg" data-react-helmet="true">
    <meta name="twitter:title" content="lorem_title" data-react-helmet="true">
    <meta name="twitter:description" content="lorem_description" data-react-helmet="true">

    <!-- ==============================================
    Mobile Metas
    =============================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-title" content="UN GO" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">


    <!-- ==============================================
    Favicons
    =============================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="mask-icon" color="#5bbad5" href="/assets/img/favicon/safari-pinned-tab.svg">

    <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- ==============================================
    Speed
    =============================================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- ==============================================
    Performance
    =============================================== -->
    <link rel="preload" as="style"
        href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900">
    <link rel="preload" as="style" href="assets/css/style.min.css">

    <!-- ==============================================
    Fonts
    =============================================== -->
    <link
        href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->

    <!-- Template Main CSS File -->
    <link href="assets/css/style.min.css" rel="stylesheet">

</head>

<body>

    {% block content %}{% endblock %}

    <div id="preloader"></div>

    <!-- Vendor JS Files -->

    <!-- Template Main JS File -->
    <script src="assets/js/main-min.js"></script>

</body>

</html>