<!-- ======= Course card ======= -->
<div class="card card-course">
    <div class="card-header">
        <h3 class="title-course">
            Licenciamento e Auditoria Ambiental
        </h3>
    </div><!-- /card-header -->
    <div class="card-body">
        <p class="price-text">
            <small>
                A partir de
            </small>
            <span>
                R$ 1.547,20<small>/mês</small>
            </span>
        </p>
    </div><!-- /card-body -->
    <div class="card-footer">
        <a href="#" title="Inscreva-se" class="btn btn-block btn-white">Inscreva-se</a>
    </div>
</div><!-- /card-course -->