<!-- ======= Product card ======= -->
<div class="card card-product">
    <figure class="box-image">
        <img class="card-img-top img-fluid" src="https://via.placeholder.com/263x130/F0F0F0/A9A9A9" alt="lorem_ipsum">
    </figure>
    <div class="card-body">
        <h3 class="title-default">
            Título lorem ipsum
        </h3>

        <ul class="item__tags">
            <li>Lorem</li>
            <li>Ipsum</li>
            <li>Lorem ipsum</li>
            <li>Ipsum</li>
        </ul>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat non malesuada in scelerisque. Id non
            volutpat, dolor sem dui.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    </div><!-- /card-body -->
    <div class="card-footer">
        <div class="row d-flex align-items-center">
            <div class="col-12 col-md-6 pr-md-0 pb-4 pb-md-0">
                <a href="" class="btn btn-block btn-primary">
                    inscreva-se
                </a>
            </div><!-- /col -->
            <div class="col-12 col-md-6">
                <a href="#" title="lorem ipsum">link</a>
            </div><!-- /col -->
        </div><!-- /row -->
    </div><!-- /card-footer -->
</div><!-- /card -->